.projects_main {
    height: auto;
    margin: 5rem 0 2rem 0;
}

.projects_main h1 {
    font-size: clamp(1.6rem, 3.5vw, 1.9rem);
    font-weight: 800;
    margin-bottom: 1rem;
    color: #33a39e;
}

.projects_section {
    display: grid;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 4px #33a39e;
    -webkit-box-shadow: 0 0 4px #33a39e;
    -moz-box-shadow: 0 0 4px #33a39e;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.3rem;

}

.top h2 {
    font-size: clamp(1.1rem, 3.8vw, 1.2rem);
    color: white;
}

.top span {
    padding: 5px;
    border-radius: 5px;
    color: white;
}


.middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.3rem;
    flex: 1;
}

.middle p {
    flex: 2;
    font-size: clamp(1.2rem, 3.8vw, 1.3rem);
    margin-top: .5rem;
    color: white;
}

.iconBtn {
    flex: 2;
    height: 30px;
    width: 30px;
    margin-bottom: .5rem;
    cursor: pointer;
    background-color: #15928cde;
    border-radius: 100%;
    padding: 5px;
}

.iconBtn:hover{
    background-color: #09726dde;
}

.icon {
    font-size: 1.2rem;
}

.middle aside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .6rem;
    flex: 1;
}

.bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1.3rem;
    gap: .6rem;
}

.tools {
    height: fit-content;
    margin-right: .6rem;
    border-radius: 5px;
    padding: 7px;
    background-color: #07817b96;
    font-size: clamp(.7rem, 3.8vw, .8rem);
    color: white;
}


@media screen and (min-width: 600px) {
    .projects_main {
        margin: 0 0 4rem .3rem;
    }

    .projects_section {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .bottom {
        grid-template-columns: repeat(2, 1fr);
    }
}