.quote_main {
margin-bottom: 1.5rem;
}

.quote_section{
    display: flex;
    justify-content: center;
}

.quote_section blockquote{
    font-size: clamp(1.6rem, 3.8vw, 1.8rem);
    font-weight: 900;
    text-align: center;
}

.quote_main cite{
    display: flex;
    justify-content: center;
    font-size: clamp(1.1rem, 3.8vw, 1.2rem);
    font-weight: 600;
}

@media screen and (min-width: 600px) {
    .quote_main {
        margin: 0 0 5.1rem 1.3rem;
    }
}